@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font-color: #ececec;
    --rounded: 1.5rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(images/background2.png);
    background-size: cover;
    background-position: center;
}

.wrapper {
    background-color: #ffffff30;
    padding: 3rem 2rem;
    border: none;
    border-radius: 10px;
    width: 500px;
    backdrop-filter: blur(7px);
    border-left: 1px solid #ececec57;
    border-top: 1px solid #ececec57;
    box-shadow: 0 0 5px #0000003e;
}

.wrapper h1 {
    color: #FFFFFD;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-weight: 600;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

}

.wrapper form .input-form {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    /* color: var(--font-color); */
    gap: 0.2rem;
    border-radius: var(--rounded);
    padding: 0px 10px;
    border-left: 1px solid #ececec57;
    border-top: 1px solid #ececec57;
    box-shadow: 0 0 5px #0000003e;
}

.wrapper form .input-form .icon {
    font-size: 20px;
    margin-right: 1rem;
    color: var(--font-color);
}

.wrapper form .input-form input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 300;
}

.wrapper form .input-form input::placeholder {
    color: var(--font-color);
    font-size: 1rem;
    font-weight: 300;
}

.wrapper .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .links a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--font-color);
    cursor: pointer;
    text-transform: capitalize;
}

.wrapper .links a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2%;
    bottom: 0;
    left: 0;
    background-color: var(--font-color);
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease;
}

.wrapper .links a:hover::after {
    transform: scaleX(1);
}

.wrapper .form-btn {
    border: none;
    outline: none;
    position: relative;
    width: 100%;
    padding: 0.5rem 1.5rem;
    background-color: var(--font-color);
    cursor: pointer;
    color: #19387C;
    font-size: 1.1rem;
    font-weight: 600;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.wrapper .form-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #19387C;
    z-index: -1;
    color: var(--font-color);
    transform-origin: left;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.wrapper .form-btn:hover::before {
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(1);
}

.wrapper .form-btn:hover {
    color: var(--font-color);
}